header {
  text-align: center;
  margin-bottom: 54px;
}

.nom {
  color: #990000;
}

section {
  background-color: beige;
  border: 5px dashed lightgrey;
  margin-bottom: 64px;
  padding: 8px;
  margin-left: 16%;
  margin-right: 16%;
}

section h2 {
  border-radius: 10px;
  background: #990000;
  padding-left: 32px;
  margin-right: 72%;
  text-align: right;
  color: white;
  margin-top: 0;
}

/* exercice 1,2 feuille 2 mercredi proch. */
